# Build artifacts
/build/
**/build/
**/out/

# IDE files
.idea/
.vscode/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python
ml/.venv/
ml/.mypy_cache/
__pycache__/
*.pyc

# Node
ui/frontend/node_modules/

# Data & models
ml/data/
ml/notebooks/.ipynb_checkpoints/
ml/models/

# Gradle
.gradle/
**/.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Environment
.env
